{{#each posts as |post|}}

<div class="card">
    <div class="card-header">
        <h2>
            <a class="home-header" href="/post/{{post.id}}">{{post.title}}</a>
        </h2>
    </div>
    <div class="card-body">
        <p class="card-text">{{post.post_content}}</p>
        <div class="col text-center">
            <button type="button" class="btn btn-secondary"><a href="/post/{{post.id}}">more</a></button>

        </div>
        <div class="card-content">{{format_date post.date_posted}}</div>
    </div>
</div>


{{/each}}